doctype html
html
  head
      title= title 
  body 
    div
    
       for  section in timetable.Sections
        h3 #{section.sectionName}
        for day in section.timetable
           div
             h1=day.day
             table 
                  thead
                    tr
                      th subject
                      th Teacher
                      th Peroid
                  tbody    
                     for period in day.periods 
                       tr 
                        td #{period}  
                        td  #{period.subject} 
                        td  #{period.teacher} 
                        td  #{period.period}
         
    
